<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="Cascade/w3.css">
<link rel="stylesheet" href="Cascade/nicepage.css">
<link rel="stylesheet" href="Cascade/One.css">
<link rel="stylesheet" href="Cascade/footer.css">.
</head>
<body>

<div class="w3-sidebar w3-bar-block w3-card w3-animate-left classclasscolor" style="display:none" id="mySidebar">
  <button class="w3-bar-item w3-button w3-large classclasscolor"
  onclick="w3_close()">Close &times;</button>
 <a th:href="@{/home}" class="w3-bar-item w3-button">Home</a>
  <a th:href="@{/equipments}" class="w3-bar-item w3-button">Equipments</a>
  <a th:href="@{/issues}" class="w3-bar-item w3-button">Issues</a>
  <a th:href="@{/about}"class="w3-bar-item w3-button">About me</a>
  <a th:href="@{/login}"class="w3-bar-item w3-button">Logout</a>
</div>


<div id="main">

<div class="classclasscolor">
  <button id="openNav" class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>
  <div class="w3-container">
  <div  class ="w3-center">
  <img src="Images/zesco_square.png" alt="logo" width="10%"/>
    </div>
    <h1 class="w3-animate-fading">Welcome to Zesco Issue Tracking Web App</h1>
	<h5 >Welcome <span sec:authentication="principal.username">Welcome guest! </span></h5>
  </div>
</div>

<img src="Images/Wow - Copy.jpeg" alt="Car" style="width:100%">

<div class="w3-container">

   

<div class="w3-padding-top-64 Another-point">
  <div class="w3-row">
  
  <div class="w3-half w3-padding-large fade-in-image">
  <img src="Images/ThatLight.jpg " class="w3-round w3-image w3-opacity-min fade-in-image" alt="Sunset">
  </div>
  
  <div class="w3-half w3-text-black w3-padding-large">
  <h2 class="w3-center">Explore of Nuclear Energy</h2>
  <p>
  Zambia must accelerate the adoption and operationalisation of the nuclear science
	to assist the country counter the effects of the climatic changes that have reduced
	its hydro energy potential to meet national developmental agenda, an atomic expert 
	has advised.Rowland Msiska, the head of&nbsp; the Zambia Atomic Energy Agency (ZAMATOM)
	notes that while Zambia might be endowed with various natural and mineral resources, the
	devastating effects of drought spurred by climate change, has dwarfed economic growth
	prospects hence the need to adopt nuclear science to avert the effects.</p>
	
     
   </div>
  
  </div>
  </div>
  
  <div class="w3-col l6 m6 w3-padding-large">
  
  <h4>Power Stations</h4>
  <p class="w3-text-black">
  Zambia has a lot of power stations which it uses to generate energy 
  to produce power foer the entire nation. though it beign a land locked
  country, it has some rivers and lakes which helps to make it easier to
  provide power. though it does not only use hydro-power stations alone,
  it also uses the soalar energy and wind energy and converts it to power.<br>
   </p>
   
  
  
  <!-- about other sites-->
  <h4>Zambia Chamber of Commerce and Industry</h4>
  <p class="w3-text-black">The Zambia Chamber of Commerce and Industry (ZACCI) says there 
  is need for private sector investment in the energy sector because Zesco has no capacity 
  to satisfy all of the country’s energy needs being a public utility with a lot of limitations.
  In an interview with News Diggers! ZACCI president Michael Nyirenda advised government to create
  an environment that attracted investment in the energy sector in order to stop Zesco
  from monopolizing the energy industry and provide people with alternatives.</p>
  
   
  
  <!--about the animals-->
  <h4>National Debts </h4>
  <p class="w3-text-black">
  
  Zambia’s government has said it will assume Zesco’s debt to private 
	power suppliers in a bid to promote confidence as it seeks to renegotiate 
	power supply agreements. A government team led by the Industrial Development 
	Corporation (IDC) is renegotiating power purchase agreements with IPPs in an 
	attempt to reduce the tariffs at which Zesco buys power from private producers.
	Ministry of Energy sources estimate Zesco’s debt to IPPs had reached around $726m 
	at the end of November 2020.</p>
  
  </div>
  
  
  <div class="w3-col l6 m6 w3-padding-large">
  <img src="Images/rivers.jpg" class="w3-round w3-image w3-opacity-min fade-in-image" alt="Cheetah" style="width:100%">
  </div>
  
  </div>
</div>

<footer>
      <footer>
      <div class="w3-container w3-center  w3-text-black w3-animate-left">
        <h4>ZESCO POWERING THE NATION</h4>
      </div>
      <div class="row w3-animate-fading">
          <div class="col ">
              <h4>What would you like to do?</h4>
              <a class="dropdown-item" href="#"> See Equipments,</a>
              <a class="dropdown-item" href="#">Register,</a>
              <a class="dropdown-item" href="#">Logout.</a>
          </div>
  
      </div>
  
  </footer>
  
  </footer>
  
<script src="Script/one.js"></script>

</body>
</html>
