
<!DOCTYPE html>    
<html>    
<footer>    
    <title>Login Form</title>    
    <link rel="stylesheet" type="text/css" href="Cascade/style.css">    
</head> 

    <div class="w3-container w3-center  w3-text-black w3-animate-left">
        <img src="Images/zesco_square.png" alt="zesco" with="100%"/>
        <background color="w3-text-black"/>
    </div>
    </footer>   

<body style="background-color: gray">    
    <br>
    <br>
    <br>
    <br>
    <div class="login">    
    <form th:action="@{/login}" class="login-form" method="POST">
	<div style="text-align:center; font-size:20px; color:green; font-weight:bold">
    <span th:utext="${message}"></span>
    </div>
        <h1>Welcome</h1>   
        <label>User Name     
          
        </label>    
                <input type="text" id="Uname"  placeholder="username..." name="username" required>    
        <br><br>    
        <label>Password</label>    
        <input type="password"  id="Pass" placeholder="password..." name="password" required>    
        <br><br>    
        <input type="submit" name="log" id="log" value="Login">       
        <br> <br><a th:href="@{/register}">Sign Up</br><a>
        <br>    
       
    </form>     
</div>    
</body>    
</html>     